name: Code lint
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.52.1
          override: true
          components: rustfmt, clippy

      - uses: Swatinem/rust-cache@v1

      - name: fmt
        run: make fmt

      - name: clippy
        run: make clippy && git diff --exit-code Cargo.lock